@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

#scramble {
  font-family: 'Press Start 2P', cursive;
  font-size: 20px;
  height: 40px;
  color: #98a1a4;
  padding-top: 20px;
}



header {
  display: flex;
  justify-content: center;
  background-color: #165d60;
  border-radius: 15px;
  margin-left: 210px;
}
