body {
  background-color: #f0f2f5;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.register-box {
  background: #fff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 450px;
}
